body {
    font-family: "Rubik","Arial", sans-serif;
}
.header-top{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.header-start{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
width: 275px;
height: 45px;
left: 836px;
top: 30px;

background: beige;
border-radius: 60px;
}

.languages{
width: 70px;
height: 36px;
left: 1136px;
top: 35px;

background: #DCE6FF;
border-radius: 39px;
}

.voyti{
width: 89px;
height: 45px;
font-weight: 500;
font-size: 16px;
line-height: 19px;
background-color: #2959CE;
text-decoration: none;
border-radius: 10px;



color: white;

}

.site-header-item-currency-link{
    text-decoration: none;
    color: #5E5F61;
}
.currency{
    color: #2959CE;
}
.site-header-list{
    width: 150px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.header-start2{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    width: 275px;
}
.voyti{
    width: 89px;
}

.name-nav{
    width: 1200px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.names-nav {
text-decoration: none;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #7F7F7F;
}


.main-news{
    width: 1200px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    list-style: none;

}

.second-adv{
    width: 1050px;
    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.h2-text{
    width: 404px;
    height: 52px;
    left: 240px;
    top: 1252px;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

.pokazat{

width: 796px;
background: blanchedalmond;
border-radius: 10px;
}

.main-news-text {
list-style: none;
font-weight: 500;
font-size: 20px;
line-height: 26px;

color: #000000;
}
.end-of-news {
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #5E5F61;
}

.end-of-site {
    background: #7297EF;
}
.start-footer{
    display: flex;
    align-items: center;
}
.end-footer{
    display: flex;
}

.namanganlikla {
font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
color:white;
}
.text-of-futer {
    color: white;
}
.text-of-ul {
    
    list-style: none;
    color: white;
   
}
.text-of-ul1{
    list-style: none;
    color: white;
    display: flex; 
    

}
.text-of-li {
    text-decoration: none;
 color: white;
}
.vmire{
    width: 1200px;
    display: flex;
}
.main-news-li{
    width: 1200px;
display: flex;
}
.main-news1{
    list-style: none;
}